body {
    margin: 0;
    font-family: poppins; 
      
}

ul {
    list-style-type: none;
}
 nav a {
    text-decoration: none;
    font-family: Space Mono;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--black);
}
:root {
  --black: #000;
  --red0: rgb(224,0,0);
  --red1: #fe5858;
  --red2: #ffd6d6;
  --blue: #313144;
  --gray0: #d8d8d8;
  --gray1: #c4c4c4;
  --gray2: #e5e5e5;
}
h1, h2 {
    font-family: Space Mono;
    font-style: Italic;
    text-transform: uppercase;
}
h1 {
    font-weight: 700;
    font-size: 72px;
}
h2 {
    font-weight: 400;
    font-size: 16px;
}
h3 {
    font-family: poppins;
    font-size: 14px;
    font-weight: 500;
}
p {
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
}
label {
    font-size: 12px;
    font-weight: 500;
}
main, header {
    max-width: 1440px;
    margin: auto;
}
main {
    width: 80%;
}
header {
    height: 800px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 14px;
}
header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
header .ph_event {
    position: absolute;
    z-index: 10;
    font-family: Space Mono;
    font-size: 96px;
    font-weight: 700;
    font-style: italic;
    -webkit-text-stroke: 0.5px#fff;
    -webkit-text-fill-color: rgba(0,0,0,0);
    color: #fff;
}
/***************************charger +***************************/
.chargerPlus {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chargerPlusBtn {
    width: 272px;
    height: 50px;
    background-color: var(--gray0);
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0px 2px 1px 0px #00000005;
    border: var(--gray0);
    cursor: pointer;
}
/*****************************icons*****************************/
.bigger {
    position: absolute;
    background-color: #000;
    color: #fff;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 5px;
    display: none;
}
.eye {
    position: absolute;
    top: 48%;
    left: 48%;
    color: #fff;
    font-size: 30px;
    
    display: none;
}
#fa-moi, #fa-moi-mobile {
    font-size: 30px;
}
.infos {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    visibility: hidden;
        
}
.visible {
    visibility: visible;
}
.infos h3 {
    margin: 0;
    color:#fff;
    text-transform: uppercase;
    filter: brightness(2);
}
/******************************nav******************************/
#nav_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 60px;
    margin: auto;
    box-shadow: 0px 4px 14px 10px #00000008;


}
#nav_header_div1 {
    width: 300px;
}

#nav_header_div1 img {
    width: 216px;
    height: 14px;
    margin-top: 23px;   
}
#nav_header_div1_mobile {
    display: none;
}

#nav_header_div2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}
#nav_footer {
    max-width: 1440px;
    margin: auto;
}
#nav_footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
.menu-item-29 {
    cursor: pointer;
}
#icon {
  display: none;
}


/*****************************popup*****************************/
#contact {
    width: 46%;
    height: 768px;
    margin: auto;
    border: solid 5px #000;
    position: fixed;
    top: 100px;
    left: 30%;
    display: none;
    background-color: #fff;
    z-index: 199;
}
#contact img {
    width: 100%;
}
#contact-form {
    width: 60%;
    margin-left: 30%;
}
.wpcf7-text, textarea {
    width: 80%;
}
.wpcf7-submit {   
    width: 80%;
    background-color: var(--gray0);
    box-shadow: 0px 2px 1px 0px #00000005;
    height: 50px;
    font-family: Space Mono;
    font-weight: 400;
    font-size: 12px;
}
#popup-close {
    float: right;
    cursor: pointer;
}

/*************************listes déroulantes********************/

.lists {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.list_half {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list_half_left {
    justify-content: space-between;
}
.list_half_right {
    justify-content: flex-end;
}
select {
    width: 45%;
    height: 30px;
    border-radius: 8px;
}
select option:hover {
  background-color: #f0f0f0;
}
/******************************m img****************************/
.two_columns {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;   
}
.moitie {
    position: relative;
    width: 49%;
    height: 495px;
}
.moitie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.moitie:hover img{
    background: rgba(0, 0, 0, 0.7);
}
/****************************single**************************/
.main_single {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: auto;
    margin-top: 14px;
}
.single_infos {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
    height: 800px;
    border-bottom: 1px solid #000000;   
}
.single_portrait {
    width: 50%;
    height: 800px;
}
.single_portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.single_contact {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100px;
    border-bottom: 1px solid #000000
}
.single_contact1 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.single_contact2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.single_contact2_1 {
    width:81px;
}
.single_contact1 button {
    width: 272px;
    height: 50px;
    cursor: pointer;
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0px 2px 1px 0px #00000005;
    background-color: var(--gray0);
    border: var(--gray0);
}
.single_posts_related {
    max-width: 1440px;
    margin: auto;
    height: 560px;
}
.post-title {
    font-size: 66px;
    font-weight: 400;
}
.single-info {
    font-family: Space Mono;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.norm { 
    font-style: normal;
}
/****************************swiper**************************/
.swiper {
    width: 81px;
    height: 90px;    
}
.swiper-wrapper {
    height: 71px !important;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}
.swiper-button-next {
    top: 70px !important;
}
.swiper-button-prev {
    top: 70px !important;
}
.swiper-button-next::after {
    content: url("../img/LineR.png") !important;
}
.swiper-button-prev::after {
    content: url("../img/LineL.png") !important;
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    main {
    width: 100%;
    }
    li {    
        text-align: center;    
    }
    li a {
        width: 100%;
    }
/******************************m img****************************/
    .two_columns {
        flex-direction: column;
    }
    .moitie {
        width: 100%;       
    }
    
/****************************single**************************/
    .post-title {
        font-size: 46px;
    }
    .main_single {
        flex-direction: column-reverse;
    }
        .single_infos, .single_portrait {
        width: 100%;
    }
    .single_infos {
        height: 280px;
    }
    .single_contact {
        flex-direction: column;
        height: 140px;
    }
    .single_contact1 {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .norm {
        justify-self: center;
    }
    .single_contact2 {
        display: none;
    }
/*****************************popup*****************************/
    #contact {
        width: 100%;
        top: 68px;
        left: 0;
    } 
    #popup-close {
        font-size: 28px;
    }
/******************************nav******************************/
    header .ph_event {
        font-size: 46px;
    }
    #nav_header {
        flex-direction: column;
        justify-content: space-between; 
        height: 72px;      
    }

    #nav_header_div1 {
        width: 100%;
        height: 72px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #nav_header_div2 {
        position: fixed;
        z-index: 99;
        right: -100vw;
        width: 100vw;
        height: 100vh;
        background-color: var(--red0);
    }
    #nav_header_div1_mobile {
        display: flex;
        height: 72px;
        flex-direction: row;
        justify-content: space-around;
        background-color: white;
    }
    #nav_header img {
        width: 138px;
        height: 9px;
        margin: auto;   
    }
    #nav_header ul{
        margin-top: 120px;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
    }
    #nav_header a {
        font-size: 44px;
        color: #fff;
    }
/*****************************icons*****************************/    
    .bigger {
        visibility: hidden;
    }
    #icon_mobile, #icon {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 16px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .menu_mobile_toLeft {
        animation: menu_mobile_toLeft 1s both;
    }
    @keyframes menu_mobile_toLeft {
       from {
        transform: translateX(0);
        }
        to {
        transform: translateX(-100vw);
        }
    }
    .menu_mobile_toRight {
        animation: menu_mobile_toRight 1s both;
    }
    @keyframes menu_mobile_toRight {
       from {
        transform: translateX(-100vw);
        }
        to {
        transform: translateX(100vw);
        }
    }
/*********************************************************************/
    #nav_footer {
        height: 120px;
        
    }
    #nav_footer ul{
    width: 100%;
    flex-direction: column;
    padding: 0;
    } 
/*************************listes déroulantes********************/ 
    .lists {
    flex-direction: column;
    }
    .list_half {
        flex-direction: column;
        width: 100%;
    }
    select {
        width: 80%;
        height: 38px;
    }
}
