body {
    margin: 0;
    font-family: poppins;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
}
nav img {
    width: 100px;
    height: 20px;
    
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
}